@import "../../css/colors.css";
@import "../../css/sparky-tokens.css";

.share-button {
    background: $sparky-yellow;
    color: $sparky-navy;
}

.share-button-is-shared {
    background: $ui-black-transparent;
    color: $ui-white;
    cursor: default;
}
